body {
      background-color: pink;
  margin: 0px;
    }

    .title {
      text-align: center;
    }
    .gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .gallery img {
      width: 200px;
      height: 200px;
      margin: 10px;
      object-fit: cover;
      border: solid;
      border-color: white;
      border-radius: 20px;
    }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #feb4c0;
  border-bottom: solid;
  border-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  -moz-transition: background-color .5s ease-in;
  -o-transition: background-color .5s ease-in;
  -webkit-transition: color .5s ease-in;    
  transition: background-color .5s ease-in; 
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #ffffff;
  color: black;
}